apiVersion: apps/v1
kind: Deployment
metadata:
  name: kustomize-guestbook-redis-master
  labels:
    app: guestbook
    role: master
spec:
  replicas: 1
  selector:
    matchLabels:
      app: guestbook
      role: master
  template:
    metadata:
      labels:
        app: guestbook
        role: master
    spec:
      containers:
      - name: redis
        image: redis:6.0
        ports:
        - containerPort: 6379
